#logo {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

#mainBtn {
    width: 100px;
    margin-right: 10px;
}


#mainPhoto {
    height: 600px;
    width: 1000px;
}

#myCarousel {
    margin: 0px;
}



#mainPhoto {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* 이미지를 수평 가운데로 정렬 */
}

.d-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    justify-content: start;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin-left: 15%;
    margin-right: 15%;
}