/* css 파일 안에서는 <style> 태그 사용하면 안 됨*/

/* 2 css.html 해당 문서에 css 적용 여부 확인 테스트용
h1, a {
    color: rgb(0, 255, 170);
} */

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

ol {
    border-right: 1px solid gray;
    width: 100px;
    margin:0px;
    padding-top: 15px;
}

body{
    margin: 0;
}

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}

@media(max-width :800px){
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }

    h2 {
        color: blueviolet;
    }

}